@import 'tailwindcss';

@theme {
    --color-obsidian: #0a0a0a;
    --color-anthracite: #121212;
    --color-anthracite-light: #1a1a1a;
    --color-sapphire: #3b82f6;
    --color-sapphire-muted: #1d4ed8;

    --radius-card: 12px;
    --radius-item: 8px;

    --shadow-sapphire: 0 0 20px -5px rgba(59, 130, 246, 0.5);
}

html,
body {
    background: var(--color-obsidian);
    color: #e5e7eb; /* stone-200 */
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}

/* hiding scroll frame */
main::-webkit-scrollbar {
    display: none;
}

main {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE/Edge */
}

:global(body) {
    margin: 0;
    padding: 0;
    background-color: var(--color-obsidian);
    overflow: hidden;
}
